    .shell {
       font-family: "Monospace", "Courier New", sans-serif;
       background-color: #010101;
       color: #00DD00;
    }
    .red { font-weight: bold; color:#FF0000;
    }
    body,h1,h2,h3,h4,h5 {font-family: "", sans-serif}
    p {font: "arial"}
    ul {list-style-type : square}
    table {
      border: 2px solid;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 1000px;
      border-color: #303030;
    }
    tr:nth-child(even){
      background-color: #e8e8f8;
    }
    
    th, td {
      border: 1px solid;
      border-color: #303030;
      text-align: left;
    }
    .yamltext {
      border-spacing: 10px;
      font-size: 110%;
      font-family: "Monospace", "Courier New", sans-serif;
      border-collapse: collapse;
      width: 1000px;
      background-color: #202020;
      color: #80D0FF;
      height: 400px;
      overflow: scroll;
    }
    .yamldata {
      font-weight: bold;
      color: #FFFFFF;
    }
    .comment {
      font-style: italic;
      color: #C0E0C0;
    }
    .nah {
      font-style: italic;
      color: #CC0000;
    }
